<div class="jumbotron">
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show alert-message btn btn-block" role="alert">
            <button type="button" class="close cancel-icon" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            HTTP {{errorcode}} Error: <i>{{path}}</i><br>
            Page not Found
        </div>
    </div>
</div>