.btn-submit {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-submit:hover {
    box-shadow: 1px 2px 3px 0px gray;
    cursor: pointer;
}
.btn-submit::after {
    box-shadow: 0 5px 15px rgba(128, 128, 128, .3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.btn-submit:hover::after {
    opacity: 1;
}

.cancel-icon {
    cursor: pointer;
}

.alert-message {
    margin-top: 1rem;
}